# Archivos temporales y auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.toc
*.synctex.gz
*.synctex(busy)

# Archivos de configuracion de VS Code
.vscode/